<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="View Encapsulation" [options]="false">
      <h5 class="view-encapsulation">COMPONENTE PADRE</h5>
      <hr />
      <div class="row">
        <div class="col-md-6">

        </div>
      </div>
      <div class="list-group">

      </div>
    </app-card>
  </div>
</div>

<app-view-encapsulation-header></app-view-encapsulation-header>
<app-view-encapsulation-body></app-view-encapsulation-body>
<app-view-encapsulation-footer></app-view-encapsulation-footer>
